<footer class="footer">
    <div class="footer-media-list">
        <div class="media-item no-cursor"> Follow Us </div>
        <div class="media-item icon">
            <a href="https://es-la.facebook.com/homexcr/" target="_blank">
                <img src="./assets/imgs/facebook_icon.png">
            </a>
        </div>
    </div>

    <div class="footer-brand">
        <img src="./assets/imgs/LOGO MERCASA.png" style="width:110px;height:42px;">
        <div style="padding-left: 25px; font-size: 13px;">Versión: 1.0</div>
    </div>

    <div class="footer-media-list">
        <div class="media-item">
            <img src="./assets/imgs/mail_icon.png">
        </div>
        <div class="media-item contact-us"> Contact Us </div>
    </div>
</footer>