<footer class="footer">
    <div class="footer-media-list">
        <div class="media-item no-cursor"> Follow Us </div>
        <div class="media-item icon">
            <a href="https://es-la.facebook.com/homexcr/" target="_blank">
                <img src="../assets/imgs/facebook_icon.png">
            </a>
        </div>
    </div>

    <div class="footer-brand">
        <img src="../assets/imgs/shopping_car.png">
    </div>

    <div class="footer-media-list">
        <div class="media-item">
            <img src="../assets/imgs/mail_icon.png">
        </div>
        <div class="media-item contact-us"> Contact Us </div>
    </div>
</footer>