<!-- <ng-multiselect-dropdown [placeholder]="'--Select--'" [data]="listData" [(ngModel)]="selectedItems"
    [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onItemSelect($event)" 
    (onDeSelect)="onItemSelect($event)">
</ng-multiselect-dropdown> -->

<p-multiSelect defaultLabel="--Select--" [panelStyle]="{minWidth:'18em'}" [options]="optionList" 
    resetFilterOnHide="true"  filterBy="label" [(ngModel)]="selectedItems" [virtualScroll]="true" itemSize="30"
    (onChange)="onItemSelect()"></p-multiSelect>