<!-- <div class="filter-page">
    <h1 class="filter_page-title">Configuración</h1>
    <div class="form-container">
        <form class="row">
            <div class="column">
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Familia</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Sub-familia</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Categoría</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
            </div>

            <div class="column">
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Sub-categoría</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Sub sub-categoría</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Índice de penetración</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="align-button">
            <button class="button-style" routerLink="/filter" mat-button>Generar Catálogo</button>
        </div>
    </div>

</div> -->

<div class="filter-page">
    <h1 class="filter_page-title">Configuración</h1>
    <hr width=100% size=1>
    <div class="row">
        <div class="column">
            <div class="form-container">
                <div class="row">
                    <div class="row underline">
                        <h3> Opciones de Selección </h3>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h5>Actividad Comercial (Índice de Penetración)</h5>
                            <drop-down-multiselect class="space-around" [listData]="listMainActivity"
                                [disable]="listSpecialitySelected.length > 0 || text != '' ? true:false"
                                (listDataOutput)="selectedMainActivity($event)"></drop-down-multiselect>
                            <h5>Código del Cliente</h5>
                            <div class="input-group space-around">
                                <input type="text" class="form-control" [(ngModel)]="text" (keyup)="checkEmpty()"
                                    [disabled]="listSpecialitySelected.length > 0 || listMainActivitySelected.length > 0 ? true:false">
                                <button type="button" class="button-text-small" (click)="checkClient()"
                                    [disabled]="listSpecialitySelected.length > 0 || listMainActivitySelected.length > 0 ? true:false">Verificar</button>
                            </div>
                            <h5>Histórico de Venta</h5>
                            <p-radioButton name="groupname" class="space-around-noBottom" value="Si" label="Si"
                                [(ngModel)]="historicoVenta" [disabled]="boolClient"></p-radioButton>
                            <p-radioButton name="groupname" class="space-around-noBottom" value="No" label="No"
                                [(ngModel)]="historicoVenta" [disabled]="boolClient">
                            </p-radioButton>
                            <p-radioButton name="groupname" class="space-around" value="Todos" label="Todos"
                                [(ngModel)]="historicoVenta" [disabled]="boolClient">
                            </p-radioButton>
                        </div>

                        <div class="column">
                            <h5>Especialidad</h5>
                            <drop-down-multiselect class="space-around" [listData]="listSpeciality"
                                [disable]="listMainActivitySelected.length > 0 || text != '' ? true:false"
                                (listDataOutput)="selectedSpeciality($event)"></drop-down-multiselect>
                            <h5>Dirección</h5>
                            <drop-down-multiselect class="space-around" [disable]="boolClient">
                            </drop-down-multiselect>
                            <h5>Ocasión de Uso</h5>
                            <drop-down-multiselect class="space-around"></drop-down-multiselect>
                            <h5>Ciclo de vida</h5>
                            <drop-down-multiselect class="space-around" [listData]="listLifeCycle"
                                (listDataOutput)="selectedLifeCycle($event)"></drop-down-multiselect>
                        </div>
                    </div>

                    <div class="row">
                        <hr width=95%>
                    </div>

                    <div class="row">
                        <div class="column">
                            <h5>Familia</h5>
                            <drop-down-multiselect [listData]="listFamily" [selectedItems]="listFamilySelected"
                                (listDataOutput)="selectedFamilies($event)" class="space-around">
                            </drop-down-multiselect>
                            <h5>SubFamilia</h5>
                            <drop-down-multiselect [listData]="listSubFamilyFiltered"
                                [selectedItems]="listSubFamilySelected" (listDataOutput)="selectedSubFamilies($event)"
                                class="space-around"></drop-down-multiselect>
                            <h5>Categoría</h5>
                            <drop-down-multiselect [listData]="listCategoryFiltered"
                                [selectedItems]="listCategorySelected" (listDataOutput)="selectedCategories($event)"
                                class="space-around"></drop-down-multiselect>
                        </div>

                        <div class="column">
                            <h5>SubCategoría</h5>
                            <drop-down-multiselect [listData]="listSubCategoryFiltered"
                                [selectedItems]="listSubCategorySelected"
                                (listDataOutput)="selectedSubCategories($event)" class="space-around">
                            </drop-down-multiselect>
                            <h5>SubSubCategoría</h5>
                            <drop-down-multiselect class="space-around"></drop-down-multiselect>
                            <h5>Producto Individual</h5>
                            <drop-down-multiselect [listData]="listIndividualProducts"
                                [selectedItems]="listIndvProdSelected" (listDataOutput)="selectedProducts($event)"
                                class="space-around">
                            </drop-down-multiselect>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="form-container">
                <div class="row underline">
                    <h3> Opciones de Visualización </h3>
                </div>
                <div class="row">
                    <div class="column">
                        <h5>Precio</h5>
                        <p-radioButton name="groupname6" class="space-around-noBottom" value="Si" label="Si"
                            [(ngModel)]="selectedValuePrice"></p-radioButton>
                        <p-radioButton name="groupname6" class="space-around" value="No" label="No"
                            [(ngModel)]="selectedValuePrice">
                        </p-radioButton>
                        <div class="border-box">
                            <h6>Lista de Precio</h6>
                            <p-radioButton name="groupname2" class="space-around-noBottom" value="Cliente"
                                label="Cliente" [(ngModel)]="selectedValuePriceList"></p-radioButton>
                            <p-radioButton name="groupname2" class="space-around-noBottom" value="Direccion"
                                label="Dirección" [(ngModel)]="selectedValuePriceList">
                            </p-radioButton>
                            <div class="radio-other" disabled>
                                <p-radioButton name="groupname2" class="space-around-noBottom" value="Other"
                                    label="Otro" [(ngModel)]="selectedValuePriceList">
                                </p-radioButton>
                                <drop-down-multiselect class="space-around-noBottom" [listData]="listPriceGroup"
                                    [disable]="selectedValuePriceList == 'Other' ? false:true">
                                </drop-down-multiselect>
                            </div>
                        </div>
                        <h5>Descripción</h5>
                        <p-radioButton name="groupname3" class="space-around-noBottom" value="Si" label="Si"
                            [(ngModel)]="selectedValueDescripcion"></p-radioButton>
                        <p-radioButton name="groupname3" class="space-around" value="No" label="No"
                            [(ngModel)]="selectedValueDescripcion">
                        </p-radioButton>
                        <h5>Item x página</h5>
                        <p-spinner [(ngModel)]="spinner" name="spinner" [min]="2" [max]="8" [step]="2"
                            class="space-around">
                        </p-spinner>
                    </div>

                    <div class="column">
                        <h5>Tamaño de Imagen</h5>
                        <p-radioButton name="groupname5" class="space-around-noBottom" value="S" label="S"
                            [(ngModel)]="selectedValueSize"></p-radioButton>
                        <p-radioButton name="groupname5" class="space-around-noBottom" value="M" label="M"
                            [(ngModel)]="selectedValueSize">
                        </p-radioButton>
                        <p-radioButton name="groupname1" class="space-around" value="L" label="L"
                            [(ngModel)]="selectedValueSize">
                        </p-radioButton>
                        <h5>Promociones</h5>
                        <p-radioButton name="groupname4" class="space-around-noBottom" value="Si" label="Si"
                            [(ngModel)]="selectedValuePromocion"></p-radioButton>
                        <p-radioButton name="groupname4" class="space-around" value="No" label="No"
                            [(ngModel)]="selectedValuePromocion">
                        </p-radioButton>
                    </div>

                    <div class="row align-button">
                        <hr width=95%>
                        <button (click)="generateCatalog()" routerLink="/catalog" class="button-style"
                            mat-button>Generar
                            Catálogo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>