<!-- <div class="filter-page">
    <h1 class="filter_page-title">Configuración</h1>
    <div class="form-container">
        <form class="row">
            <div class="column">
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Familia</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Sub-familia</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Categoría</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
            </div>

            <div class="column">
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Sub-categoría</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Sub sub-categoría</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Índice de penetración</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="align-button">
            <button class="button-style" routerLink="/filter" mat-button>Generar Catálogo</button>
        </div>
    </div>

</div> -->

<div class="filter-page">
    <h1 class="filter_page-title">Configuración</h1>
    <div class="form-container">
        <form class="row">
            <div class="column">
                <h4>Familia</h4>
                <drop-down-multiselect [listData]="listFamily" [selectedItems]="listFamilySelected"
                    (listDataOutput)="selectedFamilies($event)" class="space-around"></drop-down-multiselect>
                <h4>SubFamilia</h4>
                <drop-down-multiselect [listData]="listSubFamilyFiltered" [selectedItems]="listSubFamilySelected"
                    (listDataOutput)="selectedSubFamilies($event)" class="space-around"></drop-down-multiselect>
                <h4>Categoría</h4>
                <drop-down-multiselect [listData]="listCategoryFiltered" [selectedItems]="listCategorySelected"
                    (listDataOutput)="selectedCategories($event)" class="space-around"></drop-down-multiselect>
                <h4>SubCategoría</h4>
                <drop-down-multiselect [listData]="listSubCategoryFiltered" [selectedItems]="listSubCategorySelected"
                    (listDataOutput)="selectedSubCategories($event)" class="space-around">
                </drop-down-multiselect>
                <h4>SubSubCategoría</h4>
                <drop-down-multiselect class="space-around"></drop-down-multiselect>
            </div>

            <div class="column">
                <h4>Índice de Penetración</h4>
                <drop-down-multiselect class="space-around"></drop-down-multiselect>
                <h4>Producto Nuevo</h4>
                    <p-radioButton name="groupname" class="space-around-noBottom" value="Si" label="Si" [(ngModel)]="selectedValue"></p-radioButton>
                    <p-radioButton name="groupname" class="space-around" value="No" label="No" [(ngModel)]="selectedValue"></p-radioButton>
                <h4>Item x página</h4>
                <p-spinner [(ngModel)]="spinner" name="spinner" [min]="0" [max]="100" class="space-around"></p-spinner>
                <h4>Producto</h4>
                <div class="ui-inputgroup" class="space-around">
                    <input type="text" [(ngModel)]="property" name="property" placeholder="Product">
                    <button pButton type="button" class="addButton">Agregar</button>
                </div>

            </div>
        </form>

        <div class="align-button">
           <button (click)="generateCatalog()"  routerLink="/catalog" class="button-style" mat-button>Generar Catálogo</button> 
        </div>

    </div>
</div>