<!-- <div class="filter-page">
    <h1 class="filter_page-title">Configuración</h1>
    <div class="form-container">
        <form class="row">
            <div class="column">
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Familia</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Sub-familia</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Categoría</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
            </div>

            <div class="column">
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Sub-categoría</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Sub sub-categoría</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
                <div class="form-group test">
                    <select class="form-control">
                        <option value="1">Índice de penetración</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="align-button">
            <button class="button-style" routerLink="/filter" mat-button>Generar Catálogo</button>
        </div>
    </div>

</div> -->

<div class="filter-page">
    <h1 class="filter_page-title">Configuración</h1>
    <div class="form-container">
        <form class="row">
            <div class="column">
                <drop-down-multiselect class="space-around"></drop-down-multiselect>
                <drop-down-multiselect class="space-around"></drop-down-multiselect>
                <drop-down-multiselect class="space-around"></drop-down-multiselect>
            </div>

            <div class="column">
                <drop-down-multiselect class="space-around"></drop-down-multiselect>
                <drop-down-multiselect class="space-around"></drop-down-multiselect>
                <drop-down-multiselect class="space-around"></drop-down-multiselect>
            </div>
        </form>

        <div class="align-button">
            <button class="button-style" routerLink="/filter" mat-button>Generar Catálogo</button>
        </div>

    </div>
</div>