
.filter-page {
    margin: 5rem;
}

.filter_page-title {
    margin: 1rem;
}

.form-group {
    padding: 1rem;
    margin-bottom: 0;
}

.form-container {
    background-color:rgba(77, 83, 83, 0.2);
    padding: 3rem 2rem;
    padding-right: 0rem;                
    border-radius: 25px;
    margin-top: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.button-style {
    background-color: #343a40;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    margin: 3rem;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.75);
}

.addButton {
    background: #007ad9;
    color: white;
}

.align-button{
    display: flex;
    justify-content: center;
}

.space-around {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.space-around-noBottom {
    padding-right: 1rem;
    padding-left: 1rem;
}

h5 {
    margin-left: 1rem;
}

.underline { 
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-decoration: underline; 
}

.flex {
    display: flex;
}

.input-group {
    display: flex;
    width: 50%;
}

.form-container {
    margin: 1rem;
}

.border-box {
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 0.5rem;
    border-color: darkgrey;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.radio-other {
    display: flex;
}