
.main-carousel {
    background-color: rgba(77, 83, 83, 0.164);
    margin: 3.8rem;
    padding: 8rem 20rem;
    border-radius: 25px;
}

.center-image {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.catalog-msg {
    text-align: center;
    padding: 2rem;
}

.description {
    filter: contrast(15%);
    padding: 2rem;
}

.h3 {
    padding: 2rem;
}

.button-style {
    background-color: #343a40;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    color: rgba(255, 255, 255, 0.75);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.align-button {
    display: flex;
    justify-content: center;
}