<ngb-carousel class="main-carousel">
    <ng-template ngbSlide>
        <div class="center-image">
            <img src="./assets/imgs/book_icon.png">
        </div>
        <div class="catalog-msg">
            <h3>Catálogo de Productos</h3>
            <p class="description">Genera tu propio catálogo de productos. Podrás<br> ver fotos, descripción, precio y
                muchos más datos de tu interés.</p>
        </div>
        <div class="align-button" routerLink="/filter">
            <button class="button-style" mat-button>Nuevo</button>
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="center-image">
            <img src="./assets/imgs/inscription_96px.png">
        </div>
        <div class="catalog-msg">
            <h3>Cotiza una compra</h3>
            <p class="description">Genera tu propia cotización. Podrás generar tu compra<br> y enviarnos tu propuesta
                para que podamos evaluarla, <br>contactanos para saber
                sobre las últimas promociones y demás!.</p>
        </div>
        <div class="align-button">
            <button class="button-style" mat-button>Coming Soon!</button>
        </div>
    </ng-template>
</ngb-carousel>