
.space-around {
    background-color: rgba(34, 62, 153, 0.65);
    margin: 1rem;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
}

.image-container {
    background-color: white;
}
